body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 0px;
}

header {
  position: fixed;
  height: 69px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid seashell;
  z-index: 10;
  background-color: black;
}

header div {
  flex-grow: 1;
  text-align: left;
}

header img {
  height: 50px;
  width: auto;
  padding-left: 10px;
}

header nav {
  display: flex;
  text-decoration: underline;
}

header nav a {
  padding-right: 25px;
  color: seashell;
}

main {
  padding-top: 69px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
}

footer h5 {
    margin: 10px 0px;
}

.mission {
  background-image: url('../images/img-mission-background.jpg');
  background-position: center;
  height: 700px;
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
}

.mission h2,
.mission h4 {
  background-color: black;
  margin: 0px;
  padding: 10px 0px;
}

.teas {
  display: flex;
  width: 1000px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}

.tea img {
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

.locations {
  background-image: url('../images/img-locations-background.jpg');
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 1200px;
  margin-top: 25px;
  padding-top: 25px;
}

.stores {
  display: flex;
  justify-content: space-around;
}

.store {
  height: 300px;
  width: 300px;
  margin: 15px 20px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  opacity: 1;
}

.copyright {
  text-align: left;
  padding-left: 20px;
}
